body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    cursor: none;  /* Hide the default cursor */
}

.counter {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    z-index: 1000;
}

.cursor-duck, .mini-duck {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('/assets/duck.svg');
    background-size: cover;
    pointer-events: none;  /* Make sure the ducks don't capture mouse events */
}

.mini-duck {
    width: 25px;
    height: 25px;
    opacity: 0.9;
}

.egg {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('/assets/egg.svg');
    background-size: cover;
}

.confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
    display: none;
}

.confetti.show {
    display: block;
}

.confetti div {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f00;
    animation: confetti-animation 3s linear infinite;
}

.confetti div:nth-child(odd) {
    background-color: #0f0;
}

.confetti div:nth-child(even) {
    background-color: #00f;
}

@keyframes confetti-animation {
    0% {
        transform: translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}
