body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    cursor: none;  /* Hide the default cursor */
}

.counter {
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 40px;
    font-family: 'Shadows Into Light', cursive;
    z-index: 1000;
}

.cursor-duck, .mini-duck {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('/assets/duck.svg');
    background-size: cover;
    pointer-events: none;  /* Make sure the ducks don't capture mouse events */
    transition: transform 0.3s ease, left 0.3s ease, top 0.3s ease;
}

.mini-duck {
    width: 25px;
    height: 25px;
    opacity: 0.9;
}

.egg {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('/assets/egg.svg');
    background-size: cover;
}
